/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2017, 4:22:42 PM
    Author     : tanulo
*/

body{
    background-color: skyblue !important;
}

#site-name span {
    color: red;
}

.block{
  background-color: lightgreen;
}

.block.even{
  background-color: khaki;
}